@import "../../_shared/styles/common";

:host {
  display: block;
}

.card {
  border: none;
}

h2.card-title {
  text-align: center;
  color: $brand-inverse;
}

h3.card-title {
  text-align: center;
  color: $brand-primary;
}

.card-block {
  padding: 0;
}

.card-link {
  display: inline-block;
  padding: 0.5rem 0.5rem;
  & + .card-link {
    margin-left: 0;
  }
}

.card-img-top {
  display: block;
  max-width: 50%;
  margin: 0 auto 32px;
}
