header
  ol.breadcrumb
    li.breadcrumb-item.active
      | 中文官网

h2 站点简介

p Angular中文官网
  a(href="https://angular.cn", target="_blank") https://angular.cn
  | 是得到官方认可并由谷歌技术推广部正式运营的中文版Angular官方网站。

p 它是对angular.io的同步翻译。所谓同步翻译，就是指当官方发布了任何更改时，我们都会将这些更改同步译成中文，以保证资料的时效性和准确性。

h2 译者简介

p 本网站有两位主要的翻译者：汪志成和叶志敏。

ul
  li 汪志成是GDE（谷歌开发者专家）和ThoughtWorker，拥有十八年软件开发经验。
  li 叶志敏是一位英国留学生，已经在伦敦生活和工作了十年，目前在独立创业。

p 更多信息参见：
  a(href="https://angular.cn/translate/cn/about.html", target="_blank") 这里

h2 由来

p Angular 2的整个技术体系相当庞大，随着Angular 2的临近，我们在学习中深感中文资料的匮乏会成为中文学习者的瓶颈。因此，我们下决心对其进行翻译。
p 经过一个月的艰苦努力，我们终于基本翻译完了当时的版本。接着，我们与开发组取得了联系，并得到了项目经理Naomi Black的热情回应。
p 她不但把我们拉进了文档作者的在线交流区，让我们可以直接与原作者交流，而且还帮我们与谷歌技术推广部取得联系，以便更好地在中国推广它。

h2 社区支持

p 两个人精力有限，终究无法完美的完成翻译和校对工作。
p 让这个网站趋于完美的，是来自Angular中文社区的志愿者以及来自Github的志愿者。他们提出了很多意见和建议，让我们得以对本网站进行打磨，最终呈献给大家。

h2 未来

p 我们还将一如既往的保持同步翻译 —— 虽然这很累。
p 最重要的是，我们将基于本网站来进一步建设中文社区。各位因为本网站来到Angular中文社区，我们希望留住你们，与你们建立更加紧密的联系。
p 同时，我们还会翻译或原创一系列关于Angular 2的书籍，力争全方位的为各位提供帮助。

h2 谢谢大家！
