<header>
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">中文社区</li>
  </ol>
</header>
<h2>社区简介</h2>
<p>Angular中文社区是由Angular开发组支持的大型社区，同时得到了谷歌开发技术推广部的大力支持。</p>
<p>参见<a href="https://angular.cn/translate/cn/home.html" target="_blank">开发组项目经理Naomi
  Black、工程总监Brad Green和谷歌开发技术推广部大中华区主管栾跃的致辞</a>。</p>
<h2>光辉历程</h2>
<p>Angular中文社区最早源自<a href="http://www.angularjs.cn" target="_blank">http://www.angularjs.cn</a>，创始人是严清，主要由网站和QQ群组成。后来由于工作变化，严清不再维护本社区。
</p>
<p>之后，各位网友自发维护，经过多年的发展，目前在QQ群中已有4000多活跃会员。</p>
<h2>社区理念</h2>
<p>本社区秉承专业、开放、友善的原则，并努力将其落实到行动中。</p>
<h2>社区活动</h2>
<p>目前，我们正组织<a href="https://www.ng-book.com/2/" target="_blank">ng-book2</a>的翻译工作，争取赶在Angular
  2正式发行前定稿。</p>
