@import "variables";

svg.icon {
  height: 1em;
  width: 1em;
  position: relative;
  bottom: -0.1em;
  * {
    fill: currentcolor;
  }
}

@import "~highlight.js/styles/github.css";

h2 {
  font-size: 20px;
  color: $brand-secondary;
  margin-bottom: 20px;
}
