<a class="btn btn-secondary btn-fab sticky sticky-bottom-right" routerLink="../create">
  <img src="_images/add.svg" class="icon" alt="发帖"/>
</a>
<ul class="nav nav-simple padding-h-neg">
  <li class="nav-item"><a [routerLink]="'../mine'" class="nav-link" routerLinkActive="active">我的社区</a></li>
  <li class="nav-item"><a [routerLink]="'../latest'" class="nav-link" routerLinkActive="active">最新贴</a></li>
  <li class="nav-item"><a [routerLink]="'../hot'" class="nav-link" routerLinkActive="active">热门贴</a></li>
  <li class="nav-item"><a [routerLink]="'../reward'" class="nav-link" routerLinkActive="active">悬赏贴</a></li>
</ul>
