@import "../../_shared/styles/common";

:host {
  display: block;
}

.card {
  border: none;
  .img-circle {
    display: block;
    margin: 10px auto;
    width: 50%;
    border-radius: 50%;
    border: 1px solid $gray-lighter;
  }
}

.card-title {
  color: $brand-inverse;
  small {
    a {
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }
}

.card-text {
  color: $gray-light;
}

.card-block {
  padding: 0;
}

.card-link {
  display: inline-block;
  padding: 0.5rem;
  & + .card-link {
    margin-left: 0;
  }
}
